<ul class="list-unstyled">
    <li *ngFor="let todo of todos" class="ui-state-default">
        <div class="checkbox">
            <label [ngClass]="{'isComplete':todo.isCompleted}"><input type="checkbox" value="" [(ngModel)]="todo.isCompleted" /> {{todo.text}}</label>
            <button class="remove-item btn btn-default btn-xs pull-right" (click)="removeTodo(todo)"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </li>
</ul>
<div class="todo-footer">
    <strong><span class="count-todos"></span></strong> Items Left
</div>